@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

@import "tailwindcss";

html,
body {
	@apply bg-white dark:bg-gray-950;
	font-family: "Roboto", sans-serif;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

/* Barra de navegación */
.navbar {
	@apply text-white bg-blue-900 py-4;
}

.navbar-container {
	@apply flex flex-wrap;
}

.navbar-col {
	@apply p-4 flex justify-around;
}

.navbar-item {
	@apply text-base font-bold uppercase;
}

.navbar-link {
	@apply text-white hover:underline;
}

/* Encabezado */
.header {
	@apply bg-blue-100 py-10 px-24;
}

.header-container {
	@apply flex flex-wrap items-center;
}

.header-title {
	font-family: "Miniver", cursive;
}

/* Secciones globales */
.section {
	@apply py-15 px-20 border-t-10 border-blue-900;
}

.section-title {
	@apply text-4xl font-bold mb-5 text-center text-blue-900 uppercase;
}

.section-description {
	@apply text-lg mb-5 text-justify;
}

/* Tarjetas */
.card {
	@apply bg-slate-50 border border-gray-300 rounded-lg;
}

.card-header,
.card-content,
.card-footer {
	@apply px-6 py-3;
}

.card-footer {
	@apply text-center;
}

/* Sección de contacto */
.contact-title {
	@apply text-3xl font-bold mb-5 text-center text-indigo-900
}

.contact-description {
	@apply text-base mb-5 text-justify;
}

/* Formulario de contacto */
.contact-form {
	@apply bg-white p-2;
}

.input-label {
	@apply block text-sm text-slate-700 font-semibold mb-2;
}

.input-field {
	@apply border-1 border-gray-500 rounded-lg w-full px-4 py-2 bg-gray-50 text-sm outline-none focus:border-indigo-900;
}

.input-textarea {
	@apply resize-none h-32;
}

/* Botones */
.btn {
	@apply px-4 py-2 text-sm rounded-lg font-semibold cursor-pointer transition-colors;
}

.btn-main {
	@apply bg-blue-950 text-white hover:bg-blue-700;
}

/* Sidebar */
.sidebar {
	@apply text-white w-full h-full fixed top-0 pt-14;
	background-color: rgba(0, 0, 0, 0.8);
}

.sidebar-content {
	@apply p-16 relative h-full text-center; 
}

.sidebar-item {
	@apply block text-3xl font-bold mb-20 uppercase;
}